# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [4]:
pokemon_dict = { "evolution": ["Ivysaur", "Charmeleon", "Wartortle","Metapod"],
           "hp": [45,39,44,45],
           "name" : ["Bulbasaur","Charmander","Squirtle","Caterpie"],
           "pokedex" : ['yes', 'no', 'yes', 'no'],
           "type": ["grass", "fire", "water", "bug"]
}

### Step 3. Assign it to a variable called pokemon

In [13]:
pokemon = pd.DataFrame(pokemon_dict)
pokemon.head()

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [14]:
pokemon = pokemon.reindex(columns=["name", "type", "hp", "evolution", "pokedex"])
pokemon.head()

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [15]:
pokemon.insert(5, "place", ["Palette Town", "Power Plant", "Mount Koronet", "Eterna Forest"])
pokemon.head()

         name   type  hp   evolution pokedex          place
0   Bulbasaur  grass  45     Ivysaur     yes   Palette Town
1  Charmander   fire  39  Charmeleon      no    Power Plant
2    Squirtle  water  44   Wartortle     yes  Mount Koronet
3    Caterpie    bug  45     Metapod      no  Eterna Forest

### Step 6. Present the type of each column

In [16]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.: Add 5 HP to all you pokemon because you gave them a special potion!

In [17]:
pokemon.hp = pokemon.hp+5
pokemon.head()

         name   type  hp   evolution pokedex          place
0   Bulbasaur  grass  50     Ivysaur     yes   Palette Town
1  Charmander   fire  44  Charmeleon      no    Power Plant
2    Squirtle  water  49   Wartortle     yes  Mount Koronet
3    Caterpie    bug  50     Metapod      no  Eterna Forest